.container {
  padding: 40px;
  text-align: center;
  background-color: #3a0955;
  margin-top: 40px;
  width: 200px;
  margin-left: 350px;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  margin: auto;
}

.form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px;
  background-color: #38bdf8;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
body{
  background-color: #d3ace8;
  padding: 0px;
  margin: 0;
}