.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 30px;
  background-color: #1e293b;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 15px;
  transition: 0.3s;
}

.link:hover {
  color: #38bdf8;
}